h1{ 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin: 10px;
    color: white;
    background-color: #263232;
    border: 50px black;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px;
    color: white;
    font-weight: lighter;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 10px;
    color: white; 
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #1565c0;
    background-clip: content-box;
    margin: -10px;
    height: 40px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #1565c0;
    background-clip: content-box;
    margin: -5px;
    font-weight: bold;
    font-size: 13px;
    width: fit-content;
}

h5{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #1565c0;
    background-size: cover;
    background-clip: content-box; 
    font-size: 12px;
    margin: -10px;
    padding: 10px;
    width: fit-content;
}

p1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #1565c0;
    background-size: cover;
    background-clip: content-box; 
    font-size: 12px;
    margin: -10px;
    padding: 10px;
}

div{
    background-image: url(color1.png);
    background-size: cover;
    margin: -40px;    
    padding: 30px; 
    height: 200px;
    background-clip: content-box;
    
}


